body {
    text-align: center;
    font-size: xx-large;
    /* background-image: url(time.webp);
    background-repeat: no-repeat;
    background-position: fill; */
    background-color: lightcoral;
}